*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

._wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  background: rgb(0, 0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  color: #ffffff;
  box-sizing: border-box;
}